@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-Bold.ttf);
    font-weight:bold;
}

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-BoldItalic.ttf);
    font-weight:bold;
}

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-Italic.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-Light.ttf);
    font-weight: light;
}

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-LightItalic.ttf);
    font-weight:light;
}

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-Medium.ttf);
    font-weight:normal;
}

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-MediumItalic.ttf);
    font-weight:normal;
}

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-Regular.ttf);
    font-weight:normal;
}

